header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
}

header h1 {
    color: #fff;
    font-size: 36px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header form {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

header form input {
    border: none;
    padding: 10px;
    margin-right: 10px;
}

header form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.book {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.book img {
    width: 100%;
    height: auto;
}

.book h2 {
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin: 0;
}

.book p {
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    font-weight: bold;
}

footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}